{% load mlc %}
{% load staticfiles %}
<div class="mlc-loading">
    <div class="mlc mlc-comment-wrapper">
        <div class="mlc-element-div-left">
            <div class="mlc-comment-user-image"></div>
        </div>
        <div class="mlc-comment-div-right">
            <div class="mlc-comment-title">
                <div class="mlc-comment-user-name">
                    <span class="mlc-preview-placeholder"></span>
                </div>
                {#        <div class="">#}
                {#          <span role="img"></span>#}
                {#          <div class="mlc-comment-date"><span class="mlc-preview-placeholder date"></span></div>#}
                {#        </div>#}
            </div>
            <div>
                <span class="mlc-preview-placeholder content"></span><br>
                <span class="mlc-preview-placeholder content"></span>
            </div>
        </div>
    </div>
</div>
